spring:
  datasource:
    url: jdbc:oracle:thin:@//localhost:1521/xe
    username: system
    password: system
    driver-class-name: oracle.jdbc.OracleDriver
    hikari:
      initialization-mode: always
      minimum-idle: 0
      maximum-pool-size: 5

  main:
    allow-bean-definition-overriding: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.Oracle12cDialect

  batch:
    job:
      enabled: false

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: ERROR
    org.springframework.jdbc.core: DEBUG
    org.springframework.transaction: INFO

















